reference site :  Python tutorial.

https://docs.python.org/3.6/tutorial/index.html

1. Integer    : 2,20,80000
2. Float      : 3.2,56.89,8965.4584
3. String     :

Data Structures in Python

1. List
2. Dictionares.
3. Tuples
4. sets
5. Boolean

# 1. Numbers In Python

There are two number types in python 
1. Integer  : which are whole numbers
2. Float    : which are decimal points in it

In [1]:
2-1

1

In [2]:
3/2

1.5

In [3]:
7/3

2.3333333333333335

### Modulo.."Mod operator"

In [4]:
7%3    # Gives the reminder as the answer

1

In [5]:
40%4

0

can be used for even /odd number

In [6]:
23% 2   # an odd number

1

Devide the number by two, if the reminder is 0 then its a even number & if the number is odd then the reminder will not be Zero.

In [7]:
22%2

0

### Power operator

In [8]:
2**3

8

it wil give you answer as 2 to the power 3

### Ordered operations

In [9]:
2+3+5-3*2

4

Preferences are given to arithmatic operators

1. * /
2. + -

hence 3*2 will be performed first =6

2+3+5 =10

10-6=4

 this will be the order of execution

if you want addition first 
then you can use ()

In [10]:
(2+3)+(5-3)*2

9

In [2]:

10//3    # Gives u the quotient     in the answer

3

In [12]:
6**6

46656

# 2.  Variable Assignment

what ever numbers or strings we are using for some work in the program is stored in a container called 'Variable'

Rules to name a variable.
1. Variable name can not start with a number.
2. space in the name is not allowed.
3. @,$,%... spacial symbols are not allowed

Python uses "Dynamic Data types". You can reassign variables to different datatypes.
this makes it different than other "statically Typed"

Eg: my_var=2

    my_var=['Name1','name2']
    
    Its ok in  Python 
    but Error in other languages.
    
    as int my_var=2, Now my_var will not accept the character or float type value as its decleared in int type only.

Advantages of Dynamic Typing:
    1. very easy to initialize the variable.
    2. Faster to work on development.
Disadvantages:
    1. May result in bugs in unexpected datatype.
    2. You need to be aware of type of data.

Variable Assingment:

In [44]:
a=5    # var assignment

In [45]:
a    #  a will give value as int '5'

5

In [46]:
a=90

In [47]:
a    # Resigned the value to a... so we can do it..

90

In [48]:
a+a

180

In [49]:
a=a+a   # now every time we run the code it will update the value of 'a ' by additng it to its value.
a

180

In [50]:
a=a+a

In [20]:
a

360

To check the type of a avriable..
Built in function used is type()

In [21]:
type(a)

int

In [22]:
f=9.00

In [23]:
type(f)

float

In [24]:
s='uiiuu'
s

'uiiuu'

In [25]:
type(s)

str

In [26]:
income=100
tax_rate=0.1
total_rate=income*tax_rate
total_rate

10.0

#### examples:

### Introduction to String

String is ordered sequence of charaters. hence indexing and slicing is required to grab the perticular character from the string.

there are 2 types of indexing

1. positive indexing
2. negitive indexig

Indexing is nothing but the position assigned to the characters in the string.

eg        String:      H  E  L  L  O
1. positive indexing : 0  1  2  3  4
2. reverse indexing  : 0 -4 -3 -2 -1
2. negitive indexing :-5 -4 -3 -2 -1

    
    
Slicing : In this we can make slice of the string and grab that much of part of that string.
eg:  Hello    In which i need Hel  so i will start with 0 to 3(one step ahead of the end of grab char(positive indexing))
Syntax=[start:stop:step]
start=from which point of index u want to grab the string
stop =up to what point u want to grab the string(but will not include).
step =step includes the jump of characters to skip to display...

In [1]:
"Hello"  ''

'Hello'

In [2]:
"Hello I'M going to run"

"Hello I'M going to run"

In [29]:
print("Hello")

Hello

In [2]:
#Escape sequences are \n \t etc
print("hello \n World")

hello
 World

In [31]:
# we can check the length of the string
str1="hello i m running"
len(str1)

17

In [32]:
mystr1="Hello World"

In [33]:
mystr1

'Hello World'

In [34]:
mystr1[0]  # indexing: positive indexing

'H'

In [35]:
mystr1[-1]   #Negitive indexing.. gives the character of that perticular position value

'd'

In [36]:
mystr1[6]

'W'

In [37]:
mystr1[0:5]  #  0 - 4 are hello character... 5 is because (end-1)i.e 5-1

'Hello'

In [38]:
mystr1[2:4]

'll'

In [39]:
# lets grab world   
mystr1[6:]

'World'

In [40]:
#or 
mystr1[6:11]

'World'

In [41]:
# Lets use step size
mystr1[0:5:2]   # it will use step size number to eleminate the characters c the result

'Hlo'

##### String Properties

Immutability: Mutabolity means changing ability,
    immutability meanse no change is accepted property

In [3]:
name='sam'

In [4]:
name[0]='p'   #  U will get an error because it will not overrite the content decleared it

TypeError: 'str' object does not support item assignment

In [5]:
last_letter=name[1:]
last_letter

'am'

In [9]:
new_var='p'+ last_letter# called as string concatination
new_var

'pam'

In [10]:
x='hello world'
x + " i am the part of it"

'hello world i am the part of it'

multiple string concatination

In [11]:
letter='z'

In [12]:
letter*4

'zzzz'

In [14]:
letter * 100

'zzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzz'

In [15]:
x*4

'hello worldhello worldhello worldhello world'

In [18]:
#now 
2 + 3   # addition

5

In [17]:
'2'+'3' #   Dynamic data type...  conactination

'23'

#### Built in string function

In [ ]:
x='Hello World'
#x.  (shift+tab)   list will appear.. and it is called as methods..
# like x.upper   then ()  a perenthisis..()
#x.upper() will be method that will convert x's all letter in upeer case
x.upper()

In [ ]:
x.upper  # if no () is given.. it means u are asking what is upper n
#   it will tell u that it is a string function/method

In [ ]:
x.split()  # split the string based on a white space

In [ ]:
x.split('o')   # on what bases u wanna split... ='o'

##### Print Fornatting with string

1. .format()  method
2. f-strings(formatted string literals)

In [4]:
x=10
print(x)

10

In [10]:
print( "X is an integer",x)

X is an integer 10

In [9]:
print("X =",x,"is an integer value")

X = 10 is an integer value

In [13]:
x=12
y=10.90

x,y=10,20.20

In [16]:
print("values of x & y are :",x,",",y)

values of x & y are : 10 , 20.2

In [8]:
print("I'm going to inject %s here." %'something')

I'm going to inject something here.

In [ ]:
print('This is a string{}'.format('  Inserted'))

In [ ]:
print('The {} {} {} '.format('fox','brown','quick'))

In [ ]:
print('The {2} {1} {0} '.format('fox','brown','quick'))

In [ ]:
print('The {0} {0} {0} '.format('fox','brown','quick'))

In [ ]:
print('The {f} {b} {q} '.format(f='fox',b='brown',q='quick'))

In [ ]:
print('The {q} {f} {b} '.format(f='fox',b='brown',q='quick'))

##### Float formatting follows "{value:width:precision f}"

In [ ]:
result=100/777

In [ ]:
result