## Comparison Operators

In this We will learn Comparision Operators in Python.


First we'll present a table of the comparison operators and then work through some examples:

<h2> Table of Comparison Operators </h2><p>  In the table below, a=3 and b=4.</p>

<table class="table table-bordered">
<tr>
<th style="width:10%">Operator</th><th style="width:45%">Description</th><th>Example</th>
</tr>
<tr>
<td>==</td>
<td>If the values of two operands are equal, then the condition becomes true.</td>
<td> (a == b) is not true.</td>
</tr>
<tr>
<td>!=</td>
<td>If values of two operands are not equal, then condition becomes true.</td>
<td>(a != b) is true</td>
</tr>
<tr>
<td>&gt;</td>
<td>If the value of left operand is greater than the value of right operand, then condition becomes true.</td>
<td> (a &gt; b) is not true.</td>
</tr>
<tr>
<td>&lt;</td>
<td>If the value of left operand is less than the value of right operand, then condition becomes true.</td>
<td> (a &lt; b) is true.</td>
</tr>
<tr>
<td>&gt;=</td>
<td>If the value of left operand is greater than or equal to the value of right operand, then condition becomes true.</td>
<td> (a &gt;= b) is not true. </td>
</tr>
<tr>
<td>&lt;=</td>
<td>If the value of left operand is less than or equal to the value of right operand, then condition becomes true.</td>
<td> (a &lt;= b) is true. </td>
</tr>
</table>

Lets Move on to the Examples

In [5]:
3==3

True

In [6]:
1==100

False

We can find the difference here as '=' is an assignment operator.
and '== 'is a comparision Operator.

In [8]:
2!=1     # Not equal to '!='

True

In [9]:
3!=9

True

In [10]:
#Greater Than Operator
90>89

True

In [11]:
90>100

False

In [12]:
# Lesser than operator
1<0

False

In [13]:
1<90

True

In [14]:
# Greator than or Equal to operator
50>=50

True

In [15]:
50>=90

False

In [16]:
# Lesser than or equal to operator
30<=89

True

In [17]:
30<=20

False

In [18]:
30<=30

True

## Chained Comparision Operators

In this, we will learn how to chain comparison operators and we will also introduce two other important statements in Python: and and or.

Let's look at a few examples of using chains:

In [19]:
3<4<5

True

In [23]:
1<2 and 2<4   
# and operator : if both the conditions are satisfied then only True else it will return False

True

In [25]:
# same statement we can write as follows
1<4>2

True

In [27]:
1<2 or 4>3  # either of the two operations is correct then return True  else False

True

# Introduction to Python Statements.

If statement in Python

If we want to construct a statement like 
if x is greater than y, then assign a=2,b=8

Syntax in C
x=10
b=0
if (x>y)
{ 
    a=2;
    b=8;
    
}
print(a,b)

In [33]:
#In Python
x=10
y=0
if (x>y):
    a=2
    b=9
print(a,b)

2 9

1. There is no main statement in Python
2. there is no { }
3. instead it have indentations.
4. colon : after if statement after 
    next line will automatically create a tab and move on..
5. if u discontinue with the tabs..u r out of the loop

In [37]:
if x:
    if y:
        a=2
        b=4
    else:
        a=10
        b=20
else:
    a='Out of x'
    b='Go ahead'
print(a,b)

10 20

In [38]:
##### Start with the Examples

In [39]:
if True:
    print('It was True')

It was True

In [1]:
x=False

if x:
    print('x was True..')
else: 
    print('I will be printed in any case where x is not True.. ')

I will be printed in any case where x is not True..

#### Multiple Branches
multiple conditions are checked with multiple if-elif-else conditions.

In [3]:
loc='Bank'
if loc=='Auto shop':
    print('welcome to the Auto Shop ')
    print(' I need to do this')
elif loc=='Bank':
    print('Welcome to the Bank')
else:
    print('Where are You')

Welcome to the Bank

In [16]:
loc='Bank'
if loc=='Auto Shop':
    print('Welcome to the Auto shop')
elif loc=='Bank':
    print("Welcome to the bank")
else:
    print('Nothing is printed')

Welcome to the bank

In [17]:
a=4
if (a%2==0):
    print("The number is Even")
else:
    print(" The number is odd")

The number is Even

In [26]:
a=int(input("Enetr any number"))
if (a%2==0):
    print("even")
else:
    print("odd")

Enetr any number11
odd

In [21]:
a=input("Enetr a numver")

Enetr a numver10

In [23]:
type(a)

str

In [ ]:
# Accept the marks from the student if marsk are greater than 40 the student is pass or he is fail.
a=int(input("Enter the marks of the Students"))
if (a>=40):
    print("The student is Pass")
else:
    print("The student is Fail")